
<div class="container"></div>
<app-toolbar-table  (formSent)=  "Datarecieve($event)" (formSent)="onFormSent()"  (formSentsearch)=  "DataSearchrecieve($event)"    ></app-toolbar-table>
 
 
<table  class="table table-striped" app-table>
  <thead app-table-head  [receiveDataCheked]=  "dataCheckeds"></thead>
  <tbody app-table-body    [receiveRowStatus]=  "rowstatus" (sendPageData)=  "ReceiveDataPage($event)" (sendDatachecked)=  "DataCheckedrecieve($event)" [receiveDatas]=  "datas"  [receiveDataSearch]="dataSearchs" *ngIf="isFormSent"   ></tbody>

</table>



<app-pagination-table   (sendRowStatus)=   "DataRowStatus($event)"  ></app-pagination-table>


