<tr>
    <th scope="col">
        <div class="custom-control custom-checkbox">
            <div class="numberBox"> {{receiveDataCheked}}</div>

        </div>
    </th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">SSN</th>
    <th scope="col">DOB</th>
    <th scope="col">Hired</th>
    <th scope="col">CDL #</th>
    <th scope="col">State</th>
    <th scope="col">CDL exp.</th>
    <th scope="col">Medical exp.</th>
    <th scope="col">MVR exp.</th>
    <th scope="col"> <i class="fas fa-paperclip"></i></th>
</tr>